<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Ratings page</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap core JavaScript-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Page level plugin JavaScript-->
      <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
      <link rel="stylesheet" href="RatingStyle.css">
   </head>
   <body>
            <div class="container">
               <div class="table-title">
                   <h2>Marks Table</h2>
               </div>
               <table class="table table-bordered shadow bg-white rounded" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                        <th>Mark</th>
                        <th>Date</th>
                        <th>Subject ID</th>
                     </tr>
                  </thead>
                  <tfoot>
                     <tr>
                        <th>Mark</th>
                        <th>Date</th>
                        <th>Subject ID</th>
                     </tr>
                  </tfoot>
                  <tbody>
                     <tr>
                        <th>1</th>
                        <th>3</th>
                        <th>212</th>
                     </tr>
                     <tr>
                        <th>2</th>
                        <th>30</th>
                        <th>2122</th>
                     </tr>
                  </tbody>
               </table>
      </div>
      <script>
         $(function() {
             $('#dataTable').DataTable({
                 "pageLength": 4,
                 "paging": true,
                 "lengthChange": true,
                 "searching": true,
                 "ordering": true,
                 "info": true,
                 "autoWidth": false
             });
         });
      </script>
      <script>
         $(document).ready(function() {
             $('#dataTable').DataTable();
         });
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   </body>
</html>