@model Dictionary<int, List<Core.DTO.Timetable>>
@{
    ViewData["Title"] = "Timetable";

}

@section Styles
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/timetableStyle.css">
}
     <div class="content">
        <main role="main">
            <div class="justify-content-center row-scroll shadow mb-1">
                <div id="timetable-header">
                    <div class="border timetable-item-time">
                        <p>Time</p>
                    </div>
                    <div class="border timetable-item">
                        <p>Monday</p>
                    </div>
                    <div class="border timetable-item">
                        <p>Tuesday</p>
                    </div>
                    <div class="border timetable-item">
                        <p>Wednesdey</p>
                    </div>
                    <div class="border timetable-item">
                        <p>Thursday</p>
                    </div>
                    <div class="border timetable-item">
                        <p>Friday</p>
                    </div>
                </div>
                @foreach (int i in Model.Keys)
                {
                    int cnt=0;
                    <div class="timetable-row">
                        <div class="border timetable-item-time">
                            <p>@i</p>
                        </div>
                            @foreach (string day in new List<String>{"Monday","Tuesday","Wednesday","Thursday","Friday"})
                            {
                                var time = Model[i][cnt]; 
                                if(time.Day==day)
                                {
                                    cnt++;
                                    <div class="border timetable-item container p-0">
                                        <div class="w-100 text-center">
                                            <p>@time.SubjectID</p>
                                        </div>
                                        <div class="w-100 text-center">
                                            <p>@(time.LecturerName+", "+time.Auditory)</p>
                                        </div>
                                    </div>
                                    if(cnt==Model[i].Count)
                                        cnt=0;
                                }
                                else
                                {
                                    <div class="border timetable-item container p-0">
                                    </div>
                                }
                            }
                    </div>
                }
            </div>
        </main>
    </div>

@section Scripts
{
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src= "~/js/timetableScript.js" type="text/javascript"></script>
}