body {
    height: 100%;
}

nav {
    background-color: #d2d2d2;
    /* height: 100%; */
}

hr {
    border-style: inset;
    width: 100%;
    border-width: 1px;
}

.highlight-row:hover {
    background-color: #e2e2e2;
}

.row-active {
    background-color: #e2e2e2;
}

#add-task {
    background-color: #e2e2e2;
    bottom: 10px;
}

@media only screen and (max-width: 576px) {
    .list-title {
        display: none;
    }
}