<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    @RenderSection("Styles", required: false)
</head>
<body class = "container-fluid">
    <header>
        <nav class="navbar navbar-custom navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand mr-0 ml-sm-4">
                <img src="/images/Logo.png" id="logo" class="d-inline-block align-top"/>
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            @if(ViewData["User"]==null){
                <form class="form-inline my-2 ml-auto my-lg-0 justify-content-center" method="POST" asp-controller="Account" asp-action="Login">
                    <input class="form-control mr-sm-2 my-sm-2 mb-2" type="text" placeholder="Username">
                    <input class="form-control input-sm mr-sm-2 my-sm-2 mb-2" type="password" placeholder="Password">
                    <button class="btn btn-primary" id="btn" type="submit">Log in</button>
                </form>
                
                <button class="btn btn-primary" id="btn" data-toggle="modal" data-target="#modalRegisterForm">Register</button>
            }
            else{
                <ul class="navbar-nav mx-auto" id="linksList">

                    <li class="nav-item">
                        <a class="nav-link" id="navLink" asp-controller="Profile" asp-action="Index">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLink" asp-controller="TimetableController" asp-action="Index">Timetable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLink" href="#">Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLink" asp-controller="RatingController" asp-action="Index">Marks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLink" href="#">Messages</a>
                    </li>

                </ul>
                <form class="form-inline">
                    <div class="md-form my-0 m">
                        <input class="form-control"  type="text" placeholder="Search" aria-label="Search" style="color: black !important;">
                        <i class="fas fa-search text-black" aria-hidden="true"></i>
                    </div>
                </form>
            }
            </div>
        </nav>
        @if(ViewData["User"]==null){
                <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <form asp-asp-controller="AccountController" asp-action="Register" method="POST">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Register</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body mx-3">
                        <div class="md-form mb-3">
                          <input class="form-control" name="Name" type="text" placeholder="Your name">
                        </div>

                        <div class="md-form mb-3">
                          <input class="form-control" name="Surname" type="text" placeholder="Your surname">
                        </div>

                        <div class="md-form mb-3">
                          <input class="form-control" name="Username" type="text" placeholder="Your username">
                        </div>

                        <div class="md-form mb-3">
                          <input class="form-control" name="Password" type="password" placeholder="Your password">
                        </div>

                        <div class="md-form mb-3">
                          <input class="form-control" name="ConfirmPassword" type="password" placeholder="Repeat password">
                        </div>

                      </div>
                      <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">Register</button>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
        }
    </header>
    @RenderBody()
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
