.navbar-custom
{
    background-color: #0078D7;
}

#logo
{
    height: 50px;
}

html, body,header
{
	height: 100%;
	width: 100%;
}

#basicExampleNav
{
	min-height: 50px;
	font-size: 20px;
}
.top-nav-collapse
{
	background-color: #0078D7;
}
@media (max-width: 768px)
{
	.navbar: not(.top-nav-collapse)
	{
		background-color: #24355c;		
	}
}
#linksList
{
    font-size: 22px;
}
.content{
  padding-top: 10vh;
}

#navLink
{
  color: #ffffff;
  transition: 0.3s ease;
  text-decoration: none;
}
#navLink:hover {
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}


#linksList > li{
  padding-left:10px;
  padding-right:10px;
}

#btn
{
    font-size: 18px;
    padding-top: 8px;
    height: 38px;
}
body{
	background-color: #f9f9f9;
}
p{
	margin-bottom: 0px;
  font: roboto;
  font-size: 1.25rem;
}
.dropdown-menu{
	min-width: 0px;
}
.dropdown-item{
	padding: 4px;
}
.card-news{
	background-color: #f3f3f3;
}
#button-share{
  padding: 0.3rem 1rem;
  font-size: 1.25rem;
  text-transform: none;
}
.text-share{
  font-size: 1.25rem;
}
body{
	background-color: #f9f9f9;
}
p{
	margin-bottom: 0px;
	font: roboto;
}
.dropdown-menu{
	min-width: 0px;
}
.dropdown-item{
	padding: 4px;
}
.card-news{
	background-color: #f3f3f3;
}
body{
	background-color: #f9f9f9;
	overflow-x: hidden;
}
p{
	margin-bottom: 0px;
	font: roboto;
}
.dropdown-menu{
	min-width: 0px;
}
.dropdown-item{
	padding: 4px;
}
.card-news{
	background-color: #f3f3f3;
}
.block-title{
	z-index: 5;
	background-color: #f9f9f9;
}
.block-profile{
	background-color: #f9f9f9;
}
.card-body{
	padding: 0.75rem;
}

.info-name{
	font-size: 4rem;
	padding-left: 20px;
	padding-right: 20px;
}
.info-other{
	font-size: 3rem;
	padding-left: 20px;
	padding-right: 20px;
}
@media (max-width: 991px){
	.info-name{
		font-size: 3rem;
	}
	.info-other{
		font-size: 2rem;
	}
}
@media (max-width: 767px){
	.info-name{
		font-size: 2rem;
		padding-top: 1rem;
	}
	.info-other{
		font-size: 1.5rem;
	}
}
@media (max-width: 575px){
	.info-name{
		font-size: 1.5rem;
		padding-top: 1rem;
		padding-right: 5px;
		padding-left: 0px;
	}
	.info-other{
		font-size: 1rem;
		padding-right: 5px;
		padding-left: 0px;
	}
}
.text-message{
	background-color: #f9f9f9;
}
#input-message{
	height: 38px;
	min-height: 38px;
}
#button-message{
  text-transform: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  margin: 0px;
}
.row-scroll{
	overflow-x: auto;
	flex-wrap: nowrap;
}
.timetable-row{
	height: 100px;
	display: flex;
}
#timetable-header{
	height: 70px;
	display: flex;
	border-bottom: 2px outset;
}
.timetable-item{
	display: inline-flex;
	height: 100%;
	width: 18%;
	min-width: 150px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.timetable-item-time{
	display: inline-flex;
	height: 100%;
	width: 10%;
	min-width: 80px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.timetable-notes{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: fixed;
	bottom: 0;
	right: 0;
	margin : 10px;
	z-index: 10;
	width: 500px;
	height: 80%;
	background-color: white; 
}
@media (max-width: 450px){
	.timetable-notes{
		width: 100%;
		height: 100%;
		margin: 0px;
	}
}
#timetable-notes-body{
	width: 100%;
	height: 80%;
	overflow-y: auto;
}
#timetable-notes-footer{
	width: 100%;
}
.timetable-notes-item{
	height: 50px;
}
#messagesList{
	height: 90vh;
	overflow-y: scroll;
	border-right: 5px ridge;
	border-color: blue;
	-ms-overflow-style: none;
}
#messagesList::-webkit-scrollbar{
	display: none;
}
.messagesList-item{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	min-height: 80px;
	border-bottom: 2px solid;
	border-color: blue;
}
.messagesList-item-person{
	font-size: 2rem;
}
.messagesList-item-img{
	position: relative;
	height: 80px;
}
.no-scroll{
	overflow-y: hidden;
}
#message-box{
	height: 70vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	-ms-overflow-style: none;
}
#message-box::-webkit-scrollbar{
	display: none;
}
#message-tools{
	border-top: 2px outset;
	border-color: blue;
	height: 20vh;
}
.message{
	width: auto;
	padding-bottom: 1rem!important;
}