body{
	background-color: #f9f9f9;
}
p{
	margin-bottom: 0px;
	font: roboto;
}
.dropdown-menu{
	min-width: 0px;
}
.dropdown-item{
	padding: 4px;
}
.card-news{
	background-color: #f3f3f3;
}
.block-title{
	z-index: 5;
	background-color: #f9f9f9;
}
.block-profile{
	background-color: #f9f9f9;
}
.card-body{
	padding: 0.75rem;
}

.info-name{
	font-size: 4rem;
}
.info-other{
	font-size: 3rem;
}
@media (max-width: 768px){
	.info-name{
		font-size: 1.5rem;
		padding-top: 1rem;
	}
	.info-other{
		font-size: 1rem;
	}
}
.text-message{
	background-color: #f9f9f9;
}
