<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lohyna Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="AdminPageStyle.css">

</head>

<body>

    <div class="d-flex">
        <div class="bg-white">
            <div class="sidebar-heading d-flex ">
                <image src="Lohyna.png" id='brandIco' alt="Ico"></image>
                <h3 class="ml-4">Lohyna Admin</h3>
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <div class="text-center">
                <image src="user.png" class="img-fluid  w-25 rounded mt-2 mb-1"></image>
                <h4 class="mb-0">Oleh Andrus</h4>
                <p class="mt-0">administrator</p>
            </div>
            <div class="list-group list-group-flush justify-content-center">
                <a href="AdminPageStudent.html" class="list-group-item text-center" id="sideLink">Students</a>
                <a href="#" class="list-group-item text-center" id="sideLink">Subjects</a>
                <a href="#" class="list-group-item text-center" id="sideLink">Moderators</a>
                <a href="#" class="list-group-item text-center" id="sideLink">Marks</a>
                <a href="#" class="list-group-item text-center" id="sideLink">News</a>
            </div>
        </div>
        <div id="page-content">

            <nav class="navbar navbar-expand-lg  navbar-custom border-bottom">

                <ul class="navbar-nav mr-auto mt-lg-0 ml-4">
                    <li nav-item>
                        <a class="nav-link" href="AdminDashboard.html" id="navLink">Dashboard</a>
                    </li>
                </ul>

            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <div class="card text-white h-100" style="background-color: #1E9AFD;opacity: 70%;">
                            <div class="card-body d-flex justify-content-center">
                                <div class="mt-2 mr-2">
                                    <h6 class="text-uppercase">Students</h6>
                                    <h1 class="display-4 text-center">120</h1>
                                </div>
                                <div class="d-inline-block bg-light" id="icoCard2">
                                    <image src="student.svg" id="icoCard" alt="Student ico" class="img-fluid"></image>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="card text-white h-100" style="background-color:#35A0F4;">
                            <div class="card-body d-flex justify-content-center">
                                <div class="mt-2 mr-2">
                                    <h6 class="text-uppercase">Subjects</h6>
                                    <h1 class="display-4 text-center">23</h1>
                                </div>
                                <div class="d-inline-block bg-light" id="icoCard2">
                                    <image src="book.svg" id="icoCard" alt="Student ico" class="img-fluid"></image>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="rowCard">
                    <div class="col-5">
                        <div class="card text-white h-100" style="background-color: #FF1493; opacity: 92%;">
                            <div class="card-body d-flex justify-content-center">
                                <div class="mt-2 mr-2">
                                    <h6 class="text-uppercase">Posts</h6>
                                    <h1 class="display-4 text-center">12</h1>
                                </div>
                                <div class="d-inline-block pl-3 bg-light" id="icoCard2">
                                    <image src="blog.svg" id="icoCard" alt="Student ico" class="img-fluid"></image>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="card text-white h-100" style="background-color: #64FC2F; opacity: 93%;">
                            <div class="card-body d-flex justify-content-center">
                                <div class="mt-2 mr-2">
                                    <h6 class="text-uppercase">Mentors</h6>
                                    <h1 class="display-4 text-center">12</h1>
                                </div>
                                <div class="d-inline-block bg-light" id="icoCard2">
                                    <image src="mentor.svg" id="icoCard" alt="Student ico" class="img-fluid"></image>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>