body {
	overflow-x: hidden;
}

#btnTable {
	font-size: 14px;
	vertical-align:
}

.sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
	margin-bottom: -15px;
}

#brandIco {
	height: 75px;
	width: auto;
	margin-top: -5px;
}

#dashLink {
	text-decoration: none;
	color: black;
}

#userIco {
	height: 40px;
	float: left;
	margin-left: 62rem;
	margin-top: -5px;
}

.list-group {
	width: 17rem;
}

.list-group-item {
	background: none;
	border-bottom: none;
	color: black;
}

#page-content {
	min-width: 100vw;
}

#textWrap {
	width: 50px;
}

.navbar-custom {
	justify-content: center;
	vertical-align: middle;
	background-color: #1E9AFD;
}

.nav-link {
	color: white;
	font-size: 20px;
}

#navLink,
#sideLink {
	transition: 0.3s ease;
	text-decoration: none;
}

#sideLink:hover {
	border-bottom: 2px solid;
	border-bottom-color: #1E9AFD;
	border-width: 5px;
}

#navLink:hover {
	border-bottom: 2px solid #ffffff;
	color: white;
}

#btnTable {
	margin-left: 453px;
}

table.table th a.edit {
	color: #FFC107;
}

table.table th a.delete {
	color: #F44336;
}

.container {
	margin-left: 50px;
	margin-top: 50px;
}