@model IEnumerable<Core.DTO.Rating>

@{
ViewData["Title"] = "Ratings";
}

<div class="container" style="margin-top: 100px; text-align: center;">
   <div class="table-title">
      <h2>Marks Table</h2>
   </div>
   <table class="table table-bordered shadow bg-white rounded" id="dataTable" width="100%" cellspacing="0">
      <thead>
         <tr>
            <th>Date</th>
            <th>Subject ID</th>
            <th>Mark</th>
         </tr>
      </thead>
      <tfoot>
         <tr>
            <th>Date</th>
            <th>Subject ID</th>
            <th>Mark</th>
         </tr>
      </tfoot>
      <tbody>
         @foreach (var markModel in Model)
         {
         <tr>
            <th>@markModel.Time</th>
            <th>@markModel.SubjectID</th>
            <th>@markModel.Mark</th>
         </tr>
         }
      </tbody>
   </table>
</div>