.navbar-custom
{
    background-color: #0078D7;
}

#logo
{
    height: 50px;
    margin-left: 50px;
}

#basicExampleNav
{
	min-height: 50px;
	font-size: 20px;
}
.top-nav-collapse
{
	background-color: #0078D7;
}

@media (max-width: 768px)
{
	.navbar :not(.top-nav-collapse)
	{
		background-color: #24355c;		
	}
}

#linksList
{
    font-size: 22px;
}

#navLink
{
  color: black;
  transition: 0.3s ease;
  text-decoration: none;
}
#navLink:hover {
  color: white;
}

.input
{
    color: black !important;
}
.navbar.navbar-dark form .md-form input {
    border-bottom: 1px solid #fff;
}
#linksList > li{
  padding-left:10px;
  padding-right:10px;
}


#btn
{
    font-size: 18px;
    padding-top: 8px;
    height: 38px;
}