@media screen and (max-width: 600px) {
    .col-md-8{
      align-items: center !important;
        justify-content: center !important;
        margin-top: 10px;
        margin-bottom: -20px;
    }
  .form-inline
      {
          width: 100% !important;
          margin-left: -32px;
          margin-right: 40px;
      }
      
  }


  #cardLink
  {
      color: white;
      font-size: 18px;
  }
  #cardLink:hover, #cardLink:visited
  {
      border-bottom-color: white !important;
      border-bottom-width: 2px !important;
      color: white !important;
  }
  #sidebarLink
  {
      text-decoration: none;
  }
  #sidebarLink:hover
  {
      text-decoration: none;
  }
  li:hover
  {
      background-color: lightgray;
  }
  
  .modal-body
  {
      height: 320px;
  }
  
  #deleteBody
  {
      height: 110px;
  }
  
  #deleteDialog
  {
      width: 500px;
  }
  
  .modal-dialog
  {
      width: 600px;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 18px;
      height: 18px;
      background: blue;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }

#notesPage
{
    margin-top: 100px;
}
#AddNotePage
{
    margin-top: 100px;
}