p{
	margin-bottom: 0px;
	font: roboto;
}
.block-title{
	z-index: 10;
	background-color: #f9f9f9;
}
.block-profile{
	background-color: #f9f9f9;
}
.card-body{
	padding: 0.75rem;
}
.info-name{
	font-size: 4rem;
	padding-left: 20px;
	padding-right: 20px;
}
.info-other{
	font-size: 2.5rem;
	padding-left: 20px;
	padding-right: 20px;
}
@media (max-width: 992px){
	.info-name{
		font-size: 3rem;
	}
	.info-other{
		font-size: 2rem;
	}
}
@media (max-width: 768px){
	.info-name{
		font-size: 2rem;
		padding-top: 1rem;
	}
	.info-other{
		font-size: 1.5rem;
	}
}
@media (max-width: 576px){
	.info-name{
		font-size: 1.5rem;
		padding-top: 1rem;
		padding-right: 0px;
		padding-left: 0px;
	}
	.info-other{
		font-size: 1rem;
		padding-right: 0px;
		padding-left: 0px;
	}
}
.text-message{
	background-color: #f9f9f9;
}
#input-message{
	height: 38px;
	min-height: 38px;
}