﻿.row-scroll {
    overflow-x: auto;
}

.timetable-row {
    height: 100px;
    display: flex;
}

#timetable-header {
    height: 70px;
    display: flex;
    border-bottom: 2px outset;
}

#timeTablePage
{
    margin-top: 80px;
    margin-bottom: 50px;
}

.timetable-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 18%;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.timetable-item-time {
    display: inline-flex;
    height: 100%;
    width: 10%;
    min-width: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timetable-item a {
    text-decoration: none;
    color: black;
}
