.navbar-custom
{
    background-color: #0078D7;
}

#logo
{
    height: 50px;
}

html, body,header
{
	height: 100%;
	width: 100%;
}

#basicExampleNav
{
	min-height: 50px;
	font-size: 20px;
}
.top-nav-collapse
{
	background-color: #0078D7;
}
.row p
{
	font-size: 20px;
}
@media (max-width: 768px)
{
	.navbar: not(.top-nav-collapse)
	{
		background-color: #24355c;		
	}
}
#linksList
{
    font-size: 22px;
}

#navLink
{
  color: #ffffff;
  transition: 0.3s ease;
  text-decoration: none;
}
#navLink:hover {
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}


#linksList > li{
  padding-left:10px;
  padding-right:10px;
}

#btn
{
    font-size: 18px;
    padding-top: 8px;
    height: 38px;
}
