<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="navbarStyle.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-custom navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="index.html" class="navbar-brand mr-0 ml-sm-4">
                <image src="./Logo2.png" id="logo" class="d-inline-block align-top"></image>
            </a>
            <div class="collapse  navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mx-auto" id="linksList">

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="navLink">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLink" href="#">Timetable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLink" href="#">Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLink" href="#">Marks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLink" href="#">Messages</a>
                    </li>

                </ul>
    <form class="form-inline">
            <div class="md-form my-0 m">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <i class="fas fa-search text-white" aria-hidden="true"></i>
      </div>
      
    </form>
            </div>
        </nav>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>